[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ansiscape = "*"
black = "==21.9b0"
flake8 = "*"
isort = "*"
mkdocs = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
shellcheck-py = "*"
yamllint = "*"

[requires]
python_version = "3.9"
